@import url('https://fonts.googleapis.com/css?family=Alice|Bahiana');

body{
	background-color: #FFFFFF;
	font-family: 'Alice', serif;
	margin: 0;
	padding: 0; 
}

header{
	background-color: #E4F7FF;
}

h1{
	color: #190673; 
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 4em;
}

h2{
	font-family: 'Bahiana', cursive;
	font-size: 2em;
}

h3{
	color: #190673; 
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 1.5em;
}

li{text-align: right;
	margin-right: 50px;
}
img{
	width: 50%;
}

#inspiration{
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 0.75em;
	text-align: center;
}

#slogan{
	text-align: center;
	padding: 250px;
	color: #FFFFFF;
	font-weight: 800;
}

#hero-image{
	background-image: url(../images/blue_marlin_ibiza_view.jpg);
	height: 600px;
	width: 100%;
	background-size: cover;
}

.city{
	color: #190673; 
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	background-color: #E4F7FF;
}

a{
	text-decoration: none;
	color: #190673;
}

ul{
	float: right;
	width: 250px;
	list-style: none;
	clear: both;
}

.clearfix:after{
visibility: hidden;
display: block;
font-size: 0;
content:" ";
clear: both;
height: 0;
}