body{
	background-color: #FFFFFF;
	font-family: Helvetica, sans-serif; 

}
header{
	background-color: #E4F7FF;
}
h1{
	color: #190673; 
	font-family: "Trebuchet MS", Helvetica, sans-serif;

}
p{

}
ul{

}
li{text-align: right;
	margin-right: 50px;

}
img{
	width: 100%;
}
#slogan{
	text-align: center;
}
.city{
	color: #190673; 
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	background-color: #E4F7FF;
}
a{
	text-decoration: none;
	color: #190673;
}